body {
  margin: 0;
  padding: 0;
  background: #111;
  font-family: sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
  background: #222;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}
input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
button {
  margin: 10px 5px;
  padding: 10px 20px;
  border: none;
  background: crimson;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Плавный переход цвета */
}

button:hover {
  background-color: #ff6666; /* Немного светлее при наведении */
}

.login-btn {
  background: linear-gradient(to right, #4CAF50, #45a049); /* Градиент */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
  font-weight: bold; /* Жирный текст */
}

.login-btn:hover {
  background: linear-gradient(to right, #66bb6a, #5cb85c); /* Более светлый градиент при наведении */
  transform: translateY(-2px); /* Небольшой сдвиг вверх при наведении */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Усиленная тень при наведении */
}
